.DS_Store
tmux/plugins/
raycast
fzf
history.txt
.idea/
.vscode/
.draft/
nix-darwin/*.lock
nix-darwin/.git
fish/*
!fish/config.fish
!fish/conf.d
**/vscode/*
!vscode/keybindings.json
!vscode/extensions.json
!vscode/settings.json
!vscode/tasks.json
